<div class="wrapper">
    <md-card>
        <p>Olá!</p>
        <p>Esse projeto trata-se de um webapp que exibe tweets inteiramente desenvolvido em Angular 2 com TypeScript e Angular Material 2, apenas para eu treinar, desenvolvi ele no mesmo dia que comecei a ler a documentação do Angular 2.</p>
        <p>No menu lateral há um serviço que fiz utilizando a API do Twitter, você pode checar o código-fonte do site no meu <a href="https://github.com/alefesouza/tweets-angular2" target="_blank">GitHub</a>.</p>
    </md-card>
</div>